html, body {
    font-family: 'Roboto', sans-serif;
    min-height:100%;
    min-width:100%;
    height: 100%;
    padding:0;
    margin:0;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: 'News Cycle', sans-serif;
}

.pink {
    color: #FF7171;
}

.bigger-text {
    font-size: 1.2em;
}

/* supports checks whether the user browswer supports this */
@supports (grid-area:auto) {
    .layout {
        display: grid;
        grid-template-areas: 
          "main header header"
          "main box box";
        grid-template-rows: 200px auto;  
        grid-template-columns: 50% auto auto;
        height: 100vh;
    }

    .pageHeader {
        font-size: 2em;
        grid-area: header;
        color: #FFB1B1;
        padding: 1em;
        text-align: right;
        margin-right: 3em;
    }

    #title {
        border: 1.5em solid #5b5555;
        background: #FFF;
        position: absolute;
        bottom: 0;
    }

    .main { 
        grid-area: main;  
        position: absolute;
        bottom: 0;    
    }

    .main img {
        width: 85%;
        margin-left: 2.5em;
    }

    .box{ 
        grid-area: box; 
        margin-top: auto;
        margin-bottom: auto;
        width: 80%;
        text-align: right;
    } 

    /* bouncing arrow */
    #scroll-down-arrow {
        width: 4em;
    }
    /*
    #bounce {
        animation: floating 1.5s linear infinite;
        top: 50%;
    }

    @keyframes floating {
        0%, 100% { top: 50% }
        50% { top: 80% }
    } */

    #content {
        width: 100%;
        position: absolute;
        background: #FFB1B1;
        margin-top: 100vh;
    }

    #intro {
        height: 100vh;
    }

    .background {
        width: 100%;
        min-height: 100%;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }

    #panelOne {
        background-image: url('../img/japan-background.png');
        background-repeat: no-repeat;
        height: 100vh;
    }

    #panelOne::after {
        content: "";
        background: url('../img/japan-background.png');
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
        height: 100vh;
      }

    #panelTwo {
        /* background-image: url('../img/yoshino-sketched.svg');
        background-repeat: no-repeat; */
        height: 100vh;
    }

    #panelThree {
        /* background-image: url('../img/gift-of-friendship.jpeg');
        background-repeat: no-repeat; */
        height: 100vh;
    }

    .timeline {
        /* position: fixed; */
    }

    .timeline .timeline-items .timeline-item.changed:after {
        -webkit-transition: all 0.5s ease;
        background: #FF7171!important;
    }

    .timeline {
        /* padding: 2em; */
        margin-top: 0!important;
    }

    .timeline .timeline-items .timeline-item:nth-of-type(2n+1) {
        background-color: rgba(75, 74, 74, 0.8)!important;
    }

    .timeline .timeline-items .timeline-item:nth-of-type(2n+1)::before {
        border-top: 1em solid rgba(75, 74, 74, 0.8)!important;
        border-right: 1em solid transparent;
    }

    @media only screen and (max-width: 600px) {
        .nested { 
            grid-template-areas: 
              "header"
              "article"
              "ads"
              "nav"
              "footer";
            grid-template-rows: 80px 1fr 70px 1fr 70px;  
            grid-template-columns: 1fr;
         }

    }

}