html, body {
    font-family: 'Roboto', sans-serif;
    min-height:100%;
    min-width:100%;
    height: 100%;
    padding:0;
    margin:0;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: 'News Cycle', sans-serif;
}

.pink {
    color: #FF7171;
}

.bigger-text {
    font-size: 1.2em;
}

/* attributes needed to make div elements scroll horizontal */
.scroll {
    position: fixed;
    bottom: 0;
    left: 0;
}

/* text boxes */
.page {
    /* top: 0px; */
    /* width: 500px; */
    background: white;
    /* padding: 10px 30px; */
    border: 1px #eee solid;
    position: absolute;
}

/* first layer of background image */
.front {
    /* background: #FFB1B1; */
    z-index: 1000;
    width: 8000px;
}

/* next screen after intro screen, panels left attribute are readjusted to fit horizontal sequence */
#intro {
    left: 1500px;
}

#content{
    left: 2450px;
    width: 700px;
}

#festival {
    left: 3800px;
    width: 700px;
}

/* supports checks whether the user browswer supports this */
@supports (grid-area:auto) {
    #nav {
        position: fixed;
    }

    .flex {
        flex-direction: row;
    }

    #menu {
        list-style-type: none;
    }

    #menu a {
        text-decoration: none;
        color: #FFB1B1;
    }

    .layout {
        display: grid;
        grid-template-areas: 
          "main header header"
          "main box box";
        grid-template-rows: 200px auto;  
        grid-template-columns: 50% auto auto;
    }

    .pageHeader {
        font-size: 2em;
        grid-area: header;
        color: #FFB1B1;
        padding: 1em;
        text-align: right;
        margin-right: 3em;
    }

    #title {
        border: 1.5em solid #5b5555;
        background: #FFF;
        /* bottom: 0; */
        /* height: 100vh; */
    }

    .main { 
        grid-area: main;  
        position: absolute;
        bottom: 0;    
    }

    .main img {
        width: 85%;
        margin-left: 2.5em;
    }

    .box{ 
        grid-area: box; 
        margin-top: auto;
        margin-bottom: auto;
        width: 80%;
        text-align: right;
    } 

    .intro-layout {
        display: grid;
        grid-template-areas: 
          "head head head head"
          "left-pic left-pic right-pic right-pic"
          "left left right right";
        grid-template-rows: 150px auto auto;  
        grid-template-columns: 25% 25% 25% 25%;
    }

    #intro {
        background: #FFB1B1;
        height: 100vh;
    }

    .head {
        font-size: 2em;
        grid-area: head;
        color: #FFF;
        text-align: center;
    }

    .left-pic {
        grid-area: left-pic;
    }

    .right-pic {
        grid-area: right-pic;
    }

    .left-pic img, .right-pic img {
        border: 1em solid #fff;
    }

    .left-pic, .right-pic {
        text-align: center;
    }

    .left-main {
        grid-area: left;
        color: #FFF;
    }

    .right-main {
        grid-area: right;
        color: #FFF;
    }

    .left-main, .right-main {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .left-main, .right-main p {
        line-height: 1.5em;
    }

    /* bouncing arrow */
    #scroll-down-arrow {
        width: 4em;
    }
    /*
    #bounce {
        animation: floating 1.5s linear infinite;
        top: 50%;
    }

    @keyframes floating {
        0%, 100% { top: 50% }
        50% { top: 80% }
    } */

    #content {
        /* width: 100%; */
        background: #FFB1B1;
    }

    #intro {
        height: 100vh;
    }

    .background {
        width: 100%;
        min-height: 100%;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        height: 100vh;
    }

    /* .layer {
        background-color: rgba(255,177,177, 0.5);
        position: absolute;
        width: 100%;
    } */

    #panelOne {
        background-image: url('../img/japan-river.png');
        background-repeat: no-repeat;
    }

    /* #panelTwo {
        background-image: url('../img/japan-river.png');
        background-repeat: no-repeat; 
    }

    #panelThree {
        background-image: url('../img/japan-blossoms.jpg');
        background-repeat: no-repeat; 
        /* height: 100vh; */
    } */

    .timeline .timeline-items .timeline-item.changed:after {
        -webkit-transition: all 0.5s ease;
        background: #FF7171!important;
    }

    .timeline {
        margin-top: 0!important;
    }

    .timeline-image {
        width: 25%;
    }

    .timeline .timeline-items .timeline-item:nth-of-type(2n+1) {
        background-color: rgba(75, 74, 74, 0.8)!important;
        left: 2%;
    }

    .timeline .timeline-items .timeline-item:nth-of-type(2n+1)::before {
        border-top: 1em solid rgba(75, 74, 74, 0.8)!important;
        border-right: 1em solid transparent;
    }

    .timeline-item:nth-of-type(2n+1)::after {
        left: calc(100% + 4.7%)!important;
    }

    .timeline-item.inverted::after {
        left: calc(-8.78% - 13px)!important;
    }

    #festival {
        height: 100vh;
    }

    #quiz {
        display: none;
        height: 100vh;
    }

    @media only screen and (max-width: 600px) {
        .layout { 
            grid-template-areas: 
              "header"
              "article"
              "ads"
              "nav"
              "footer";
            grid-template-rows: 80px 1fr 70px 1fr 70px;  
            grid-template-columns: 1fr;
         }

    }

}